@import "tailwindcss";

@import "@intelli-meeting/design-system/index.css";
@import "@intelli-meeting/shared-ui/shared-ui.css";


@keyframes bgPulse {
  0%, 100% {
    background-color: rgb(71 85 105); /* slate-600 */
  }
  50% {
    background-color: rgb(100 116 139); /* slate-500 */
  }
}

.bg-loading {
  animation: bgPulse 1s infinite ease-in-out;
}
