@import "tailwindcss";
@source "../shared-ui/**/*.{ts,tsx,jsx,js}";

@font-face {
  font-family: "Roboto";
  src: url("./assets/web/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/web/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/web/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/web/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
}
